name: PR Tests

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  web:
    name: Web Build & Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install dependencies
        run: npm install
        working-directory: apps/web
      - name: Lint
        run: npm run lint
        working-directory: apps/web
      - name: Build
        run: npm run build
        working-directory: apps/web

  api:
    name: API Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: apps/api/go.mod
          check-latest: true
      - name: Run unit tests
        run: go test ./...
        working-directory: apps/api
